/* Reset default browser styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow-x: hidden;
    
  }
  
  /* Apply styles to main content */
  main {
    background: url(../images/nightboat.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin-top: 65px;
    text-align: center;
  }
  
  /* Apply styles to company info section */
  #company-info {
    margin-bottom: 40px;
  }
  
  /* Apply styles to team section */
  #team {
    display: flex;
    justify-content: space-between;
  }
  
  /* Apply styles to individual team members */
  .team-member {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Apply styles to team member images */
  .team-member img {
    width: 50px;
    border-radius: 50%;
  }
  
  /* Apply styles to team member names */
  .team-member h3 {
    margin-top: 10px;
  }
  
  /* Apply styles to team member positions */
  .team-member p {
    font-style: italic;
  }
  
  /* Thick border */
  hr.Line {
    border: 1px solid rgb(255, 254, 254);
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .description {
    color: white;
    font-size: 22px;
    text-align: justify;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    
    
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(255, 255, 255);
  }

  *, *:before, *:after {
    box-sizing:border-box
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    color:white;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container1 {
    padding: 0 10px;
  }
  .container2 {
    padding: 0 10px;
    margin: 0;
    background-image: url(../images/wider_1.jpg);
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


  form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
  }
  
  .container {
    padding: 20px;
   
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  