/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    
    font-family: Arial, sans-serif;
    background-color: #81a7c6;
    color: #333;
    line-height: 1.5;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 80px;
  }
  
  /* Heading styles */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* FAQ item styles */
  .faq-item {
   
    border: 2px solid rgba(179, 30, 30, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 120%;
  

  }
  
  .faq-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .faq-answer {
    color: #666;
    margin-top: 10px;
  }
  
  .answer-form {
    margin-top: 10px;
  }
  
  .answer-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .answer-form input[type="submit"] {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #0e633a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .answer-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .delete-button input[type="submit"] {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #d62215;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  label {
    font-weight: bold;
    margin-left: 150px;
   
  }
  input[type="text"] {
    width: 50%;
    margin-left: 0px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .faq-item {
      padding: 10px;
    }
  
    .answer-form input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    .answer-form input[type="submit"] {
      margin-top: 10px;
      padding: 8px 12px;
      font-size: 14px;
    }
  }
  