body {
    margin-bottom: 0;
}
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    margin-right: 0;
    margin-left: 0;
    }
    
    .footer .row{
    width:100%;
    margin:0.2% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:10px;
    }

    .footer .row2{
        width:100%;
        margin:0.2% 0%;
        padding:0.6% 0%;
        color:gray;
        font-size:14px;
        }
        .footer .row2 a{
            text-decoration:none;
            color:gray;
            transition:0.5s;
            }
            
            .footer .row2 a:hover{
            color:#fff;
            }
            
            .footer .row2 ul{
            width:100%;
            }
            
            .footer .row2 ul li{
            display:inline-block;
            margin:0px 30px;
            }
            
            .footer .row2 a i{
            font-size:2em;
            margin:0% 1%;
            }
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}