body {

    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow-x: hidden;
    background-size:cover;
  }

  h1 {
    font-size: 80px;
    text-align: center;
    font-style: bold;
    font-family:cursive;
  }
  
  form {
    
    color:#000000;
    font-family:'Times New Roman', Times, serif;
    font-style: none;
    font-size: 20px;
    width: 600px;
    margin: 0 auto;
    background-color:transparent;
    border:3px solid rgba(255,255,255,5);
    backdrop-filter:blur(30px);
    padding: 20px;
    border-radius: 20px;
    border-color:black;
    box-shadow:0 0 30px rgba(0,0,0,5);
   
    
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    color: #5f5f75;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    /* border: 1px solid #2453c0; */
    align-items: justify;
    box-sizing:border-box;
    position: relative;
    border-bottom: 1px solid #162938;
   
  }  
  
  button[type="submit"] {
    width:200px;
    height:70px ;
    margin-left: 210px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #223236;
  }

.icon {
  margin: 0 10px;
  color: #c01717;
  font-size: 24px;
}

.icon i {
  transition: color 0.3s ease;
}

.icon i:hover {
  color: #007bff;
}
.subscribe {
  margin-bottom: 20px;
  

}
.subscribe h3 {
  margin-bottom: 10px;  
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group input[type="email"] {
  padding: 10px;
  font-size: 14px;
  width: 600px;
  margin-right: -170px;
}

.form-group button {
  padding: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  
}
