body {

    font-family: Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow-x: hidden;

  }

/*CSS Slides */

.mySlides {
	display: none;
}

img {
	vertical-align: middle;
  width: 100%;
  height: 100%;
}

.slideshow_container {
  width: 100%;
  height: 560px;
  position:relative;
}

.text_slide {
  margin-top: 460px;
  color: #cffaff;
  font-size: 38px;
  font-family: 'Times New Roman', Times, serif;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.dot {
  margin-bottom: 20px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*Chat*/

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 160px;
  border-radius: 10px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

/* Full-width textarea */
.form-container textarea {
  width: 270px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #3e3c3cf3;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(0, 0, 0);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}